body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-div {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  border: 1px solid #ECECEC;
}

h1, h2, h3, p {
  margin: 0;
}

/* -- Логотип Студії -- */
:root {
  --brand-color: #2196F3;
  --header-color: #000000;
  --footer-color: #FFFFFF;
}

.logo {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: auto;
  margin: 24px auto 25px 215px;
}

/* -- Заміна кольору для лого у хеддері -- */
#studio-logo {
  color: var(--header-color)
}

/* -- Загальні доп. класи для списків та посилань -- */
.list {
  list-style: none;
}

.link {
  text-decoration: none;  
}

/*  -- Навігація по сторінках у хеддері -- */
.menu-items {
  display: flex;
}

.menu-item {
  padding-left: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

/* -- Колір визначення розташування -- */
.main {
  color: var(--brand-color);
}

/* -- Телефон та пошта у хедері -- */
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
  margin: 32px 50px 32px 344px;;
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  cursor: pointer;
  margin: 32px 215px 32px 0;
}

/* -- Секція heros -- */
.heros {
  background-color: #2F303A;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.heros-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 200px 452px 30px;
  margin: 0 auto;
}

/* -- Кнопка замовлення у сек. heros -- */
.order-button {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 30px auto 200px;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 216px;
  max-width: max-content;
  cursor: pointer;
}

/* -- Секція Особливості -- */
.features {
  max-width: fit-content;
  margin: 94px 215px;
  padding: 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* -- Секція about -- */
.about {
  margin: 0;
  padding: 94px 215px;
}

.about-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 0 0 50px;
}

.about-list {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
  justify-content: center;
}

/* -- Секція Команда -- */
.team {
  background: #F5F4FA;
  margin: 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 94px 668px 50px;
}

.team-list {
  display: flex;
  padding: 0 215px 94px;
  justify-content: center;
  gap: 30px;
  margin: 0;
}

.team-list-item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 30px auto 10px;
}

/* -- посада учасника команди -- */
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 auto 30px;
}

/* -- Кнопки фільтрів на ст. Портфоліо -- */
.filters {
  max-width: 100%;
  padding: 15px;
  margin: 0;
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: 0;
  border-radius: 4px;
  padding: 6px 25px;
}

.filter-button:hover,
.filter-button:focus {
  color: #FFFFFF;
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* -- Зразки проектів на ст. портфоліо -- */
.projects {
  max-width: 100%;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 34px 215px 94px;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-content {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}

/* -- Підвал -- */
.footer-div {
  background: #2F303A;
  display: flex;
  flex-direction: column;
}

address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: 0 auto 9px 215px;
}

/* -- Заміна кольору для лого у "підвалі" -- */
#studio-footer {
  color: var(--footer-color)
}

/* -- телефон та мейл у "підвалі" */
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 auto 0 215px;
}

.footer-mail {
  padding: 9px 40px 0 0;
}

.footer-tel {
  padding: 9px 50px 0 0;
  margin-bottom: 60px;
}